.login {
	display: grid;
	background-color: black;
	height: 100vh;
	place-items: center;
}

.login > img {
	height: 200px;
}
.login > h2 {
	color: white;
}
.login > a {
	color: white;
	text-decoration: none;
	padding: 20px 30px;
	border-radius: 20px;
	font-weight: 800;
	background-color: #1db954;
}

@media (max-width: 770px) {
	.login > img {
		height: 150px;
	}
}
